:root {
  --rp-c-brand-dark: hsl(210, 100%, 45%);
  --rp-c-brand-darker: hsl(210, 100%, 42%);
  --rp-c-brand-light: hsl(210, 100%, 70%);
  --rp-c-brand-lighter: hsl(210, 100%, 80%);
  --rp-c-brand: hsl(210, 100%, 60%);
  --rp-c-text-2: #67676c;
  --rp-home-hero-image-width-sm: 150px;
  --rp-home-hero-image-width: 225px;
  --rp-radius: 0;
  --rp-radius-small: 0;

  --rp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--rp-c-brand) 30%,
    #0073e6
  );
}

.dark {
  --rp-c-bg: #1b1b1f;
  --rp-c-text-2: #b2b2ba;
}

.rspress-nav {
  background: rgb(from var(--rp-c-bg) r g b / 0.9);

  .flex-center:has(> div > .rspress-nav-appearance) {
    display: none;
  }
}

.rspress-logo {
  height: 3rem;
}

.rspress-sidebar {
  --rp-c-bg: #f6f6f7;
  z-index: var(--rp-z-index-sidebar);

  .dark & {
    --rp-c-bg: #161618;
  }
  .font-medium span {
    font-size: 0.88rem !important;
  }
}

.rspress-home-feature-card[style*="cursor: auto"]:hover {
  border-color: transparent;
}

.items-center a[href="/docs/gettingStarted.html"] {
  background: var(--rp-c-brand-dark);
}

.rspress-doc:not(.rp-not-doc *) ul ul {
  margin-bottom: 0;
  margin-top: 0;
}

.rspress-preview-card {
  padding: 0 16px 0 0;

  & > div:first-child {
    padding: 28px;
  }
  .rspress-preview-operations button:focus {
    outline: 1px solid currentColor;
  }
  .MuiSlider-root {
    display: block;
  }
}
