:root {
  --rp-c-brand-dark: hsl(210, 100%, 45%);
  --rp-c-brand-darker: hsl(210, 100%, 42%);
  --rp-c-brand-light: hsl(210, 100%, 70%);
  --rp-c-brand-lighter: hsl(210, 100%, 80%);
  --rp-c-brand: hsl(210, 100%, 60%);
  --rp-c-divider: rgb(232, 234, 238);
  --rp-c-text-1: hsl(215, 15%, 12%);
  --rp-c-text-2: hsl(210, 14%, 7%);
  --rp-home-hero-image-width-sm: 150px;
  --rp-home-hero-image-width: 225px;
  --rp-nav-height: 60px;
  --rp-radius-small: 0;
  --rp-radius: 0;
  --rp-z-index-backdrop: 1053;
  --rp-z-index-local-nav: 1051;
  --rp-z-index-nav: 1052;
  --rp-z-index-sidebar: 1054;

  --rp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--rp-c-brand) 30%,
    #0073e6
  );
}

.dark {
  --rp-c-bg: hsl(210, 14%, 7%);
  --rp-c-divider: rgba(61, 71, 81, 0.3);
  --rp-c-text-1: hsl(215, 15%, 75%);
  --rp-c-text-2: hsl(215, 15%, 97%);
}

div.rspress-nav,
div.rspress-sidebar-menu {
  background: transparent;
  border-bottom: 1px solid var(--rp-c-divider);
  border-top: none;

  &:before {
    backdrop-filter: blur(8px);
    background: rgb(from var(--rp-c-bg) r g b / 0.7);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}
div.rspress-nav {
  .flex-center:has(> div > .rspress-nav-appearance) {
    display: none;
  }
  [class*="mobileNavSearchButton_"] {
    padding: 8px 16px;

    path {
      fill: var(--rp-c-text-2);
    }
  }
  .rspress-mobile-hamburger {
    display: none;
  }
}
div.rspress-sidebar-menu {
  color: var(--rp-c-text-2);

  &:before {
    top: calc(var(--rp-nav-height) - 1px);
  }
  & > button:hover {
    color: var(--rp-c-text-2);
  }
}

.rspress-logo {
  height: 2.5rem;
}

.rspress-sidebar {
  border-right: 1px solid var(--rp-c-divider);

  .font-medium {
    color: var(--rp-c-text-1);

    span {
      font-size: 0.88rem;
    }
  }
}

#search-container > div {
  z-index: calc(var(--rp-z-index-nav) + 1);
}

[class*="title_"] {
  color: var(--rp-c-text-2);
}

#aside-container .aside-link {
  color: var(--rp-c-text-1);
}

.rspress-home-hero-tagline + div {
  display: flex;

  & > div:first-child > a {
    background: var(--rp-c-brand-dark);

    &:hover {
      background: var(--rp-c-brand-darker);
    }
  }
}
.rspress-home-feature-detail {
  text-align: center;
}

div.rspress-preview {
  .rspress-preview-card {
    padding: 0 16px 0 0;

    & > div:first-child {
      padding: 28px;

      @media (max-width: 768px) {
        padding: 15px;
      }
    }
    .rspress-preview-operations button {
      margin-left: 0;

      &:focus {
        outline: 1px solid currentColor;
      }
      &:hover {
        outline: 1px solid currentColor;
        background-color: var(--rp-c-bg-soft);
      }
    }
  }
}
