:root {
  --rp-c-brand-dark: #0067cf;
  --rp-c-brand-darker: #0062c4;
  --rp-c-brand-light: #0073e6;
  --rp-c-brand-lighter: #0073e6;
  --rp-c-brand: #0073e6;
  --rp-c-text-2: #67676c;
  --rp-home-hero-image-width-sm: 150px;
  --rp-home-hero-image-width: 225px;
  --rp-radius: 0;

  --rp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--rp-c-brand) 30%,
    #0073e6
  );
}

.dark {
  --rp-c-bg: #1b1b1f;
  --rp-c-text-2: #b2b2ba;
}

.rspress-nav {
  background: rgb(from var(--rp-c-bg) r g b / 0.9);
}

.rspress-logo {
  height: 3rem;
}

.rspress-sidebar {
  --rp-c-bg: #f6f6f7;
  z-index: var(--rp-z-index-sidebar);

  .dark & {
    --rp-c-bg: #161618;
  }
  .font-medium span {
    font-size: 0.88rem !important;
  }
}

.rspress-home-feature-card:hover {
  border-color: transparent;
}

.source-links {
  border-bottom-width: 1px;
  border-color: var(--rp-c-divider-light);
  border-top-width: 1px;
  display: flex;
  margin-top: 50px;
  padding: 10px 0;

  div {
    display: flex;
    flex: 1;
    justify-content: center;
  }
  a {
    color: var(--rp-c-link);
    font-weight: 500;
    padding: 10px;
  }
}

.warning {
  display: flex;
  font-size: 0.8rem;
  gap: 0.5rem;
  justify-content: center;
  margin: 5px 0;
}

.adaptiveness {
  background-color: var(--rp-c-bg-soft);
  margin-bottom: 2.5rem;
  padding: 0.5rem;

  & > div {
    margin-bottom: 0.5rem;
  }
}
