:root {
  --rp-c-brand-dark: hsl(210, 100%, 45%);
  --rp-c-brand-darker: hsl(210, 100%, 42%);
  --rp-c-brand-light: hsl(210, 100%, 70%);
  --rp-c-brand-lighter: hsl(210, 100%, 80%);
  --rp-c-brand: hsl(210, 100%, 60%);
  --rp-c-divider: rgb(232, 234, 238);
  --rp-c-text-1: hsl(215, 15%, 12%);
  --rp-c-text-2: hsl(210, 14%, 7%);
  --rp-home-hero-image-width-sm: 150px;
  --rp-home-hero-image-width: 225px;
  --rp-nav-height: 60px;
  --rp-radius-small: 0;
  --rp-radius: 0;

  --rp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--rp-c-brand) 30%,
    #0073e6
  );
}

.dark {
  --rp-c-bg: hsl(210, 14%, 7%);
  --rp-c-divider: rgba(61, 71, 81, 0.3);
  --rp-c-text-1: hsl(215, 15%, 75%);
  --rp-c-text-2: hsl(215, 15%, 97%);
}

[class*="title_"] {
  color: var(--rp-c-text-2);
}

div.rspress-nav {
  backdrop-filter: blur(8px);
  background: rgb(from var(--rp-c-bg) r g b / 0.7);
  border-bottom: 1px solid var(--rp-c-divider);

  .flex-center:has(> div > .rspress-nav-appearance) {
    display: none;
  }
}

.rspress-logo {
  height: 2.5rem;
}

.rspress-sidebar {
  border-right: 1px solid var(--rp-c-divider);

  .font-medium {
    color: var(--rp-c-text-1);

    span {
      font-size: 0.88rem;
    }
  }
}

#aside-container .aside-link {
  color: var(--rp-c-text-1);
}

.rspress-home-hero-tagline + div {
  display: flex;

  & > div:first-child > a {
    background: var(--rp-c-brand-dark);

    &:hover {
      background: var(--rp-c-brand-darker);
    }
  }
}
.rspress-home-feature-detail {
  text-align: center;
}

div.overview-index {
  padding: var(--rp-content-padding-y) var(--rp-content-padding-x);

  .items-start {
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
  }

  h2 {
    display: none;
  }

  div[class*="overview-groups"] {
    columns: 1;

    div[class*="overview-group"] {
      margin-bottom: 10px;
      padding: 0;

      a {
        padding: 20px;
      }
      h3 {
        flex: 1;
        margin-bottom: 0 !important;
      }
    }
  }
}

div.rspress-preview {
  .rspress-preview-card {
    padding: 0 16px 0 0;

    & > div:first-child {
      padding: 28px;
    }
    .rspress-preview-operations button {
      &:focus {
        outline: 1px solid currentColor;
      }
      &:hover {
        outline: 1px solid currentColor;
        background-color: var(--rp-c-bg-soft);
      }
    }
  }
}
