:root {
  --rp-c-brand-dark: hsl(210, 100%, 45%);
  --rp-c-brand-darker: hsl(210, 100%, 42%);
  --rp-c-brand-light: hsl(210, 100%, 70%);
  --rp-c-brand-lighter: hsl(210, 100%, 80%);
  --rp-c-brand: hsl(210, 100%, 60%);
  --rp-c-text-2: #67676c;
  --rp-home-hero-image-width-sm: 150px;
  --rp-home-hero-image-width: 225px;
  --rp-nav-height: 60px;
  --rp-radius: 0;
  --rp-radius-small: 0;

  --rp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--rp-c-brand) 30%,
    #0073e6
  );
}

.dark {
  --rp-c-bg: #1b1b1f;
  --rp-c-text-2: #b2b2ba;
}

div.rspress-nav {
  backdrop-filter: blur(8px);
  background: rgb(from var(--rp-c-bg) r g b / 0.7);
  border-bottom: 1px solid var(--rp-c-divider);

  .rp-flex:has(> div > .rspress-nav-appearance) {
    display: none;
  }
  .rspress-logo {
    height: 2.5rem;
  }
}

.rspress-sidebar {
  --rp-c-bg: #f6f6f7;
  z-index: var(--rp-z-index-sidebar);

  .dark & {
    --rp-c-bg: #161618;
  }
  .rp-font-medium span {
    font-size: 0.88rem;
  }
}

.rspress-home-hero-text ~ div > div:first-child > a {
  background: var(--rp-c-brand-dark);
}

div.overview-index {
  padding: var(--rp-content-padding-y) var(--rp-content-padding-x);

  .rp-items-start {
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
  }

  h2 {
    display: none;
  }

  div[class*="overview-groups"] {
    columns: 1;

    div[class*="overview-group"] {
      margin-bottom: 10px;
      padding: 0;

      a {
        padding: 20px;
      }
      h3 {
        flex: 1;
        margin-bottom: 0 !important;
      }
    }
  }
}

div.rspress-preview {
  .rspress-preview-card {
    padding: 0 16px 0 0;

    & > div:first-child {
      padding: 28px;
    }
    .rspress-preview-operations button {
      cursor: pointer;

      &:focus {
        outline: 1px solid currentColor;
      }
    }
    .MuiSlider-root {
      display: block;
    }
  }
  .shiki {
    font-size: 0.875rem;
    overflow: auto;
    padding: 1.25rem 0;
  }
}

.rp-link {
  white-space: nowrap;
}
